.discandfoll{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-evenly;
    font-family: ubuntu;
    padding: 20px; 
    /* border: 1px solid; */
    font-size: 1.5rem;
}
.discandfoll a {
    color: black;
    text-decoration: none;
}
.discandfoll div p {
    width: 50px;
    height: 4px;
    background-color: #999;
    border-radius: 20px;
}
.discandfoll > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .3rem;
}
