{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Home-Page</title>
    <style>
        .home-page-seperating-div{
            display: grid;
            grid-template-columns: 2.8fr 1.2fr;
        }
    </style>
</head>
<body>
    <div style="z-index: 999;">
        {% include 'messages.html' %}
    </div>
    {% include 'navbar.html' %}
    <div class="home-page-seperating-div">
        <div  style="margin-left: 250px;" class="post_section">
            <div>
                aguna akpan Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla placeat officiis ab error, ipsam, voluptate dignissimos iusto explicabo officia ex enim, dicta odio non? In enim sunt voluptatibus eaque illo.
            </div>
            {% include 'post_listing.html' %}
        </div>
        <div class="sidebar_section">
            {% include 'sidebar.html' %}
        </div>
    </div>
</body>
</html>