{% load static %}
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'css/post_listing.css' %}" />
<link rel="stylesheet" href="{% static 'css/mediaquery.css' %}" />
<style>
  @font-face {
    font-family: barlow;
    src: url(../static/fonts/BarlowCondensed-Regular.otf);
  }
  .owner {
  font-size: 1.1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  padding-bottom: 0;
  display: none;
  font-family: barlow;
}
.post_main{
  width: 50rem;
  padding: 10px;
}
@media (width <= 420px) {
    .post_main{
        width:auto;
    }
    .actions{
      justify-content: space-between;
    }
  }
  @media (width <= 420px) {
    .mybox {
    width: 30px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
  }
  }
</style>
<body>
  {% for dposts in post %}
 <div class="post_main">
    <p class="owner">@{{dposts.user.user}} who you are following posted :</p>
    <div class="user_post">
      <a
        style="text-decoration: none; color: #000"
        href="/post_details/{{dposts.id}}"
      >
        <!-- href="{% url 'post_details' dposts.id %}" -->
        <div class="post_img_div">
          {% if dposts.image %}
          <img src="{{ dposts.image.url }}" class="post_img" />
          {% endif %}
        </div>
        <div class="post_heading"> {{ dposts.topic }} </div>
        <p id="postid" style="display: none">{{dposts.id}}</p>
        <div class="post_body">{{ dposts.caption|truncatechars:300 }}</div>
      </a>
      <div class="post_info">
        <div class="post_about">
          <div class="post_about_links">
            {% for cat in dposts.category.all %}
            <a href="/search?q={{ cat.category }}&type=category">{{ cat.category }}</a>
            
            {% if not forloop.last %} . {% endif %} {% endfor %}
            <!-- <a href="#">DESIGN</a> . <a href="#">OBJECT</a> .
            <a href="#">AMOUNT</a> . <a href="#">INDENT</a> . -->
          </div>
          <a href="/profile/{{ dposts.user}}" class="post_owner"
            >by {{ dposts.user }}</a
          >
        </div>
        <hr />
        <div class="actions">
          <!-- comment -->
          <div class="action_btns comment">
            <a href="/post_details#comment">
              <i class="bx bx-comment-detail"></i>
              <span>{{ dposts.message_set.count }}</span>
            </a>
            <p>{{ dposts.message_set.count }} comments</p>
          </div>
          <p  id="post_id" style="display: none;">{{dposts.id}}</p>
                    <!-- like -->
                    <div onclick="lorem()" class="action_btns comment">
                      
                        <i id="liker" class="bx bx-like"></i>
                        <span>{{ dposts.like_set.count }}</span>
                      
                      <p>{{ dposts.like_set.count }} </p>
                    </div>
                    
          <!-- likes -->

          <!-- <form id="like-form" action="{% url 'like_post' dposts.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary"><i class='bx bx-like'></i></button>
            <span>{{ dposts.like_set.count }}</span>
        </form> -->

          <!-- views -->
          <div class="action_btns views">
            <i class="bx bx-bar-chart"></i>
            <span>48</span>
            <p>48 views</p>
          </div>

          <div class="action_btns views">
            <i class="bx bx-time"></i>
            <span class="mybox">{{dposts.created | timesince }} ago</span>
            <!-- date:"d M Y" -->
          </div>
          <!-- share -->
          <div>
            <!-- <i class="bx bx-dots-horizontal-rounded"></i> -->
            <!-- <ul>
              <li><a href="">More About Author</a></li>
              <li><a href="">More Articles Like This</a></li>
              <li><a href="">More Articles Like This</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if post.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'home-page' %}?page={{post.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        {% for num in post.paginator.page_range %}
            {% if num == post.number or num > post.number|add:'-2' and num < post.number|add:'2' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{num}}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if post.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'home-page' %}?page={{post.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function lorem(){
    var post_id = $("#post_id").text();
    // alert(post_id)
    $.ajax({
            type: "POST",
            url: "/like_post/"+post_id+'/',
            data: { 
              post_id: post_id
            },
            success: function (response) {
              console.log(response);
              // if (response.is_following) {
              //   // $(".process_data_span").text("Following"); // Update button text to Unfollow
              //   alert('akpan')
              // } else {
              //   // $(".process_data_span").text("Follow"); // Update button text to Follow
              //  alert('liked')
              document.querySelector('#liker').setAttribute('class', 'bx bxs-like')
              // }
            },
            error: function (xhr, status, error) {
              console.error(xhr.responseText); // Log any errors
            },
          });
  }
 
</script>
</body>
