{% load static %}
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'css/post_listing.css' %}" />
<style>
  @font-face {
    font-family: barlow;
    src: url(../static/fonts/BarlowCondensed-Regular.otf);
  }
</style>
<body>
  {% for dposts in post reversed %}
  <div style="padding: 10px; width: 55rem">
    <div class="user_post">
      <a
        style="text-decoration: none; color: #000"
        href="/post_details/{{dposts.id}}"
      >
        <!-- href="{% url 'post_details' dposts.id %}" -->
        <div class="post_img_div">
          {% if dposts.image %}
          <img src="{{ dposts.image.url }}" class="post_img" />
          {% endif %}
        </div>
        <div class="post_heading">{{ dposts.topic }}</div>
        <p id="postid" style="display: none">{{dposts.id}}</p>
        <div class="post_body">{{ dposts.caption|truncatechars:300 }}</div>
      </a>
      <div class="post_info">
        <div class="post_about">
          <div class="post_about_links">
            {% for cat in dposts.category.all %}
            <a href="#">{{ cat.category }}</a>
            {% if not forloop.last %} . {% endif %} {% endfor %}
            <!-- <a href="#">DESIGN</a> . <a href="#">OBJECT</a> .
            <a href="#">AMOUNT</a> . <a href="#">INDENT</a> . -->
          </div>
          <a href="/profile/{{ dposts.user}}" class="post_owner"
            >by {{ dposts.user }}</a
          >
        </div>
        <hr />
        <div class="actions">
          <!-- comment -->
          <div class="action_btns comment">
            <a href="/post_details#comment">
              <i class="bx bx-comment-detail"></i>
              <span>48</span>
            </a>
            <p>48 comments</p>
          </div>
          <!-- likes -->

          <div class="action_btns like">
            <a onclick="likepost('{{dposts.id}}')" id="{{dposts.id}}">
              <i class="bx bx-like"></i> <div class="likebutton">normal</div>
              {% if dposts.likes.count == 0 %}
              <span></span>
              {% else %}
              <span>{{dposts.likes.count}}</span>
              {% endif %}
            </a>
            <p>48 likes</p>
          </div>

          <!-- views -->
          <div class="action_btns views">
            <i class="bx bx-bar-chart"></i>
            <span>48</span>
            <p>48 views</p>
          </div>
          <div class="action_btns views">
            <i class="bx bx-time"></i>
            <span>{{dposts.created | timesince }} ago</span>
            <!-- date:"d M Y" -->
          </div>
          <!-- share -->
          <div>
            <i class="bx bx-dots-horizontal-rounded"></i>
            <!-- <ul>
              <li><a href="">More About Author</a></li>
              <li><a href="">More Articles Like This</a></li>
              <li><a href="">More Articles Like This</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function likepost(dposts) {
      postid = dposts;
      console.log(postid);

      $.ajax({
        type: "POST",
        url: "/liked_post/", // URL to your Django view
        data: { postid: postid }, // Data to send to the backend
        success: function (response) {
          console.log(response); // Log the response from the backend
        },
        error: function (xhr, status, error) {
          console.error(xhr.responseText); // Log any errors
        },
      });
      $.ajax({
        type: "POST",
        url: "/count_likes/",
        data: {
          postid: postid,
        },
        success: function (response) {
          console.log(response); // Log the response from the backend
        },
        error: function (xhr, status, error) {
          console.error(xhr.responseText); // Log any errors
        },
      })
      $.ajax({
        type: "POST",
        url: "/check_liked/",
        data: {
          postid: postid,
        },
        success: function (response) {
          console.log(response);
          if (response.is_liked) {
            // alert("medium");
            console.log(response);
            $(".likebutton").text("liked");
            // $(".process_data_span").text("Following"); // Update button text to Unfollow
          } else {
            // alert("small");
            console.log(response);
            $(".likebutton").text("not liked");
            // $(".process_data_span").text("Follow"); // Update button text to Follow
          }
        },
        error: function (xhr, status, error) {
          console.error(xhr.responseText); // Log any errors
        },
      });
    }
  </script>
</body>
