{% extends "base.html" %} {% load static %} 
{% block title %}Single-Post-Page {%endblock %} 
{% block link %}
<style>
  @font-face {
    font-family: barlow;
    src: url(../static/fonts/BarlowCondensed-Regular.otf);
  }
  @font-face {
    font-family: rs;
    src: url(../static/fonts/RobotoSlab-Regular.ttf);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .post_page_Sep {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
  }
  .back {
    font-size: 1.5rem;
    font-family: barlow;
    padding: 10px;
  }
  .postpagemain {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .about_post {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: rs;
  }
  .otheroptions {
    font-size: 2rem;
  }
  .post_inner {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  .person_details {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
  }
  .person_details_image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;
  }
  .person_details_image img {
    width: 100%;
  }
  .bx-like.liked{
color: black;}
</style>{%endblock%}
{% block content %}


  <div class="post_page_Sep">
    <a href="{{request.META.HTTP_REFERER}}" class="back">
      <i class="bx bx-arrow-back"></i>
      Back
    </a>
    <div class="postpagemain">
      <div class="about_post">
        <div class="post_inner">
          <a class="person_details" href="#">
            <div class="person_details_image">
              <img src="{{ postdet.user.profile_img.url }}" alt="" />
            </div>
            <p class="person_details_name">By {{ postdet.user }}</p>
            <span style="font-size: 1.5rem">|</span>
          </a>
          <div class="other_about_post">
            <p>Published on {{ postdet.created }}</p>
            <!--  November 14, 2023 12:33 -->
          </div>
          <span style="font-size: 3rem; margin-top: -20px">.</span>
          <div class="views">885 Views</div>
        </div>
        <div class="otheroptions">
          <i class="bx bx-dots-horizontal-rounded"></i>
        </div>
      </div>
      <div>
        <!-- one post  -->

        <div
          style="
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
          "
        >
          {% if postdet.image %}
          <div
            style="
              padding: 0.5rem;
              width: 100%;
              height: 100%;

              overflow: hidden;
            "
          >
            <img width="100%" src="{{ postdet.image.url }}" alt="" />
          </div>
          {% endif %}
          <p
            style="
              font-size: 2rem;
              padding: 0.5rem;
              padding-bottom: 0;
              font-family: sans-serif;
            "
          >
            {{ postdet.topic }}
          </p>
          <p
            style="
              font-family: sans-serif;
              font-size: 1.2rem;
              padding: 0.5rem;
            "
          >
            {{ postdet.caption }}
          </p>
          <p
            style="
              font-family: sans-serif;
              font-size: 1rem;
              color: #999;
              padding: 0.4rem;
              padding-bottom: 0rem;
            "
          >
            Topics : {% for catsp in postdet.category.all %}
            <a style="color: #999" href="/search?q={{catsp.category}}&type=category">
              {{catsp.category}}
            </a>
            {% if not forloop.last %} . {% endif %} {% endfor %}
          </p>
          <div style="padding: 0.5rem">
            <hr />
            <div
              style="
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
              "
            >
              <div style="font-family: rs">
                {{post_messages.count}} Comments . {{ postdet.likes.count }}
                Likes
              </div>

              <div
                style="
                  display: flex;
                  align-items: center;
                  gap: 0.5rem;
                  font-size: 22px;
                "
              >
                <!-- 
-->

                {% if c_user_profile in dposts.likes.all %}
                <a style="color: black;" href="/like_post?post_id={{postdet.id}}"
                  ><i class="bx bx-like liked"></i
                ></a>
                {% else %}
                <a style="color: black;" href="/like_post?post_id={{postdet.id}}"
                  ><i class="bx bx-like"></i
                ></a>
                {% endif %}
                <a href=""><i class="bx bx-bookmark"></i></a>
                <a href=""><i class="bx bx-share-alt"></i></a>
              </div>
            </div>
          </div>
          <div
            style="display: flex; flex-direction: column; padding: 0.5rem"
            class="comment_section"
          >
            <form
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 0.5rem;
              "
              action=""
              method="post"
            >
              {% csrf_token %}
              <div
                style="
                  width: 50px;
                  height: 50px;

                  overflow: hidden;
                "
              >
                <img
                  width="100%"
                  src="{{ c_user_profile.profile_img.url }}"
                  alt=""
                />
              </div>
              <input
                style="
                  width: 100%;
                  height: 100%;
                  padding: 10px;
                  font-size: 1.2rem;
                  border-radius: none;
                  outline: none;
                  border: 1px solid black;
                "
                name="messagebody"
                placeholder="write comment here"
                type="text"
              />
              <button
                type="submit"
                style="
                  outline: none;
                  padding: 4px 15px;
                  width: 130px;
                  height: 40px;
                  font-size: 1.2rem;
                  background-color: lightgrey;
                  color: black;
                  border-radius: none;
                  border: none;
                  font-family: rs;
                "
              >
                Comment
              </button>
            </form>
            <div
              style="
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 2rem;
              "
            >
              <!-- comment -->
              {% for message in post_messages %}
              <div
                class="comment"
                style="
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;
                  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
                  border-radius: 10px;
                  padding: 20px;
                "
              >
                <div
                  class="header"
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  "
                >
                  <a
                    style="
                      display: flex;
                      align-items: center;
                      gap: 0.5rem;
                      text-decoration: none;
                      color: black;
                    "
                    href="/profile/{{message.muser}}"
                  >
                    <div
                      style="width: 40px; height: 40px; overflow: hidden"
                    >
                      <img
                        style="width: 100%"
                        src="{{message.muser.profile_img.url}}"
                        alt=""
                      />
                    </div>
                    <div>
                      <p style="font-size: 1.2rem; font-family: rs">
                        @{{message.muser}}
                      </p>
                      <p
                        style="
                          font-family: rs;
                          font-size: 1rem;
                          color: #999;
                        "
                      >
                        {{message.created | timesince }} ago
                      </p>
                    </div>
                  </a>
                  <div
                    style="
                      padding: 8px 20px;
                      border: 1px solid;
                      border-radius: 20px;
                    "
                  >
                    <a
                      style="
                        text-decoration: none;
                        color: black;
                        font-size: 20px;
                      "
                      href=""
                      ><i class="bx bx-like"></i> 35</a
                    >
                  </div>
                </div>
                <div style="font-size: 18px">{{message.message_body}}</div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
