{% extends "base.html" %} {% load static %} 
{% block title %}Search-Page {%endblock %} 
{% block link %}
<style>
  @font-face {
    font-family: barlow;
    src: url(../static/fonts/BarlowCondensed-Regular.otf);
  }

  .serachtypes-heading {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .serachtypes {
    font-size: 1.3rem;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    border-radius: 10px;
  }
  .dontshow {
    display: none;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
</style>
{%endblock%}
{% block content %}
<div>
  <div style="display: flex; flex-direction: column; gap: 3rem">
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.3rem;
        margin-top: 50px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
        padding: 15px 20px;
        border-radius: 10px;
      "
    >
      <a
        style="
          font-family: barlow;
          text-decoration: none;
          color: black;
          border-bottom: 3px solid lightcoral;
        "
        href="/search?q={{ request.GET.q }}&type=post"
        >Content</a
      >
      <span>|</span>
      <a
        style="font-family: barlow; text-decoration: none; color: black"
        href="/search?q={{ request.GET.q }}&type=category"
        >Categories</a
      >
      <span>|</span>
      <a
        style="font-family: barlow; text-decoration: none; color: black"
        href="/search?q={{ request.GET.q }}&type=people"
        >People</a
      >
    </div>
    <div class="content-showing">
      {% if type == "post" %} {% if post %}
      <div class="categories">{% include 'post_listing.html' %}</div>

      {% else %}
      <div
        style="
          width: 700px;
          margin-left: 40px;
          display: flex;
          align-items: center;
          flex-direction: column;
        "
      >
        <img
          style="width: 400px"
          src="{% static 'img/no-results.png' %}"
          alt="nrf"
        />
        <p
          style="
            font-size: 2.3rem;
            font-family: cursive;
            color: lightcoral;
          "
        >
          No Results Found !
        </p>
        <p style="font-size: 1.3rem; font-family: barlow; padding: 10px">
          We couldnt find the item to are searching for
        </p>
      </div>
      {% endif %} {% elif type == "category" %}
      <div class="categories">
        {% if post %} {% include 'post_listing.html' %} {% else %}
        <div
          style="
            width: 700px;
            display: flex;
            align-items: center;
            flex-direction: column;
          "
        >
          <img
            style="width: 400px"
            src="{% static 'img/no-results.png' %}"
            alt="nrf"
          />
          <p
            style="
              font-size: 2.3rem;
              font-family: cursive;
              color: lightcoral;
            "
          >
            No Results Found !
          </p>
          <p
            style="font-size: 1.3rem; font-family: barlow; padding: 10px"
          >
            We couldnt find the item to are searching for
          </p>
        </div>
        {% endif %}
      </div>
      
      {% elif type == "people" %} 
      {% if people %}  
      {%include 'peoplesearch.html' %}
      {% else %}
      <div
      style="
        width: 700px;
        display: flex;
        align-items: center;
        flex-direction: column;
      "
    >
      <img
        style="width: 400px"
        src="{% static 'img/no-results.png' %}"
        alt="nrf"
      />
      <p
        style="
          font-size: 2.3rem;
          font-family: cursive;
          color: lightcoral;
        "
      >
        No Results Found !
      </p>
      <p
        style="font-size: 1.3rem; font-family: barlow; padding: 10px"
      >
        We couldnt find the item to are searching for
      </p>
    </div>
      {% endif %} {% endif %}
    </div>
  </div>
</div>
{% endblock %}







      