{% load static %}
<head>
  <style>
    @font-face {
      font-family: Ubuntu;
      src: url(../static/fonts/Ubuntu-Regular.ttf);
    }
    .post_img_divpn {
    overflow: hidden;
    padding: 0;
  }
  .post_img_divpn > img {
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    transition: 900ms ease;
  }
  </style>
  <link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
</head>
<body>
  <aside class="my_sidebar">
    <form class="search_div" action="{% url 'search-page'  %}" method="GET">
      <div>
        <i class="bx bx-search-alt"></i>
        <input name="q" type="text" value="{{searchterm}}" />
        <input type="hidden" name="type" value="post">
      </div>
    </form>
    <div class="other_people">
      <p>People You May Be Intrested in</p>
      <a class="hv the_person" href="#">
        <div class="the_person_img">
          <img
            src="{% static '../media/profile_images/degault.jpg' %}"
            alt=""
          />
        </div>
        <div class="the_person_info">
          <div>Akinshola Akinniyi</div>
          <div class="the_person_un">@shola0707</div>
        </div>
        <div class="the_person_btn">
          <button>Profile</button>
        </div>
      </a>
      <a class="the_person" href="#">
        <div class="the_person_img">
          <img
            src="{% static '../media/profile_images/degault.jpg' %}"
            alt=""
          />
        </div>
        <div class="the_person_info">
          <div>Akinshola Akinniyi</div>
          <div class="the_person_un">@shola0707</div>
        </div>
        <div class="the_person_btn">
          <button>Profile</button>
        </div>
      </a>
      <a class="the_person" href="#">
        <div class="the_person_img">
          <img
            src="{% static '../media/profile_images/degault.jpg' %}"
            alt=""
          />
        </div>
        <div class="the_person_info">
          <div>Akinshola Akinniyi</div>
          <div class="the_person_un">@shola0707</div>
        </div>
        <div class="the_person_btn">
          <button>Profile</button>
        </div>
      </a>
    </div>
    <div class="other_people">
      <p>Notifications</p>
      <hr>
      
      {% for pn in post_not reversed %}
      
      <a class="notification" href="/post_details/{{pn.id}}">
        <div class="img_section">
          <div>
            <img src="{{ pn.user.profile_img.url }}" alt="" />
          </div>
        </div>
        <div>
          <div class="title_notification" style="padding: 10px">
            <h1 class="notification_title"><span style="font-family: ubuntu; color: rgb(3, 2, 2);">@{{ pn.user }}</span> Posted :</h1>
            <h1 class="notification_time">{{pn.created | timesince}} ago</h1>
          </div>
          <div class="details_notification">
            <div class="post_img_divpn">
              {% if pn.image %}
              <img src="{{ pn.image.url }}" class="post_imgpn" />
              {% endif %}
            </div>
            {{ pn.caption|truncatechars:100 }}
          </div>
        </div>
      </a>
      <br><br>
      {% endfor %}
      {% for lk in likes_not %}
      <a class="notification " href="/post_details/{{lk.id}}">
        <!-- <div class="img_section">
          <div>
            <img src="{{ lk.user.profile_img.url }}" alt="" />
          </div>
        </div>
        <div>
          <div class="title_notification" style="padding: 10px">
            <h1 class="notification_title"><span style="font-family: ubuntu; color: rgb(0, 0, 0);">
              @{{ lk.user }}</span> Liked Your Post</h1>
            <h1 class="notification_time">{{lk.created | timesince}}  ago</h1>
          </div>
          <div class="details_notification"> 
            <div class="post_img_divpn">
              {% if lk.image %}
              <img src="{{ lk.image.url }}" class="post_imgpn" />
              {% endif %}
            </div>
            {{ lk.caption|truncatechars:100 }}
          </div>
        </div>
      </a> -->
      <!-- ipsum {{lk.user}} -->
      {% endfor %}
      <!--
      <hr>
      <a class="notification" href="#">
        <div class="img_section">
          <div>
            <img src="{% static '../media/degault.jpg' %}" alt="" />
          </div>
        </div>
        <div>
          <div class="title_notification" style="padding: 10px">
            <h1 class="notification_title"><span style="font-family: ubuntu; color: rgb(0, 0, 0);">@John</span> Replied You :</h1>
            <h1 class="notification_time">5 mins ago</h1>
          </div>
          <div class="details_notification">
            Haha, yeah that seems kinda nice😊😊
          </div>
        </div>
      </a>
      <hr>

      -->
    </div>
  </aside>
</body>
